// out: eshop.css, sourceMap: true

@header-bg: rgb(0,12,36);
@interactive: rgb(0,190,240);
@white: rgb(255,255,255);
@accent-bg-light: rgb(200,206,212);
@black: rgb(0,0,0);
@green: rgb(32,150,32);

* {
	box-sizing: border-box;
}

body {
	font-family: Roboto;
	font-size: 16px;
	font-weight: 200;
	padding: 0;
	margin: 0;
	background-color: rgb(240,244,248);
}

a {
	text-decoration: none;
	color: inherit;
}

header {
	nav {
		background-color: @white;
		section {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 960px;
			margin: auto;
		}
		ul {
			.inline-list;
			margin: 1em 0 0 1em;
			li {
				.button-style;
				padding-bottom: 0.5em;
				margin: 0 0.5em;
				font-weight: 400;
				color: @header-bg;
				border-bottom: 3px solid transparent;
				&.nav-selected {
					border-color: @header-bg;
				}
				&:hover {
					border-color: @interactive;
				}
			}
		}
	}
}

main {
	z-index: 1;
	& > section {
		width: 960px;
		max-width: 100vw;
		margin: 0 auto;
	}
}

#search {
	padding: 2em 0;
	background-image: linear-gradient(to bottom, fadeout(@header-bg,25%), fadeout(@header-bg,8%)), url('assets/header-bg-2.jpg');
	background-size: cover;
	background-position: 0 80%;
	h1 {
		margin: 1em auto;
		text-align: center;
		font-size: 4em;
		font-weight: 100;
		color: @white;
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
		.logo-upper, .logo-lower {
			position: relative;
		}
		.logo-upper {
			top: -0.35em;
		}
		.logo-lower {
			top: 0.35em;
			left: -0.67em;
			margin-right: -0.7em;
		}
	}
	#searchForm {
		padding: 1em 0 4em 0;
		text-align: center;
	
		div {
			width: 960px;
			max-width: 100vw;
			margin: 0 auto;
		}
	
		input {
			font-size: 2em;
			margin: 0.2em;
		}
	
		input[type=radio] {
			display: none;
			& + label {
				.button-style;
				font-size: 2em;
				margin: 0 0.3em;
				color: @white;
				transition: color 0.2s ease;
				i {
					font-size: 2rem;
				}
			}
	
			&:checked+label,
			&+label:hover {
				color: @interactive;
				border-bottom: 2px solid @interactive;
			}
		}
	
		input[type=number] {
			background-color: transparent;
			padding: 0 0.2em;
			max-width: 2em;
			border: 1px solid @white;
			color: @white;
	
			&::placeholder {
				color: @white;
			}
		}
	
		#searchTimes {
			margin: 1em auto;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	
		.search-submit {
			display: inline-block;
			color: @header-bg;
			font-weight: 500;
			background-color: @interactive;
			margin: 0 1em;
			padding: 0.5em 1em;
		}
	
		#search-suggestions {
			.inline-list;
			margin-top: 4em;
			li {
				cursor: pointer;
				background-color: @white;
				padding: 0.5em 1em;
				margin: 0.25em;
				box-shadow: 1px 1px 2px fadeout(@black, 50%);
			}
		}
	
	}
	&.compact {
		padding: 0.5em 0;
		font-size: 1rem;
		#searchForm {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 0;
			div {
				width: auto;
			}
			.search-submit {
				background-color: @white;
				color: @header-bg;
				transition: all 0.1s ease;
				&:hover {
					background-color: @interactive;
					color: @white;
				}
			}
		}
		input {
			font-size: 1rem;
		}
		#search-suggestions {
			display: none;
		}
	}
}


#search-options {
	width: 100%;
	display: flex;
	position: relative;
	margin-bottom: 2em;
	justify-content: space-between;
	background-color: @accent-bg-light;
}

#search-filters {
	display: inline-block;
	padding: 0.5em 0;
	input[type=checkbox] {
		display: none;
		& + label {
			.button-style;
			padding: 0.3em;
			margin-left: 0.5em;
			color: @header-bg;
			border: 1px solid @header-bg;
			transition: all 0.3s ease;
			&:hover {
				background-color: @interactive;
			}
			i {
				font-size: 2em;
			}
		}
		&:checked + label {
			background-color: @interactive;
		}
	}
}

#pax-section {
	display: flex;
	position: absolute;
	right: 0;
}
.pax {
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	border: 1px solid grey;
	position: relative;
	padding: 0.2em 0.5em 0 0.5em;
	&, input {
		font-size: 1.5rem;
		font-weight: 500;
	}
	background-color: @white;
	i {
		display: block;
		text-align: center;
	}
	p {
		text-align: center;
		margin: 0 0 0.5em 0;
		font-size: 0.8rem;
		i {
			display: inline-block;
			margin-right: 1em;
		}
	}
	a {
		font-family: sans-serif;
	}
	.pax-number {
		background-color: transparent;
		border: none;
		text-align: center;
		max-width: 1em;
	}
	.pax-add {
		margin-bottom: 0;
		align-self: flex-start;
		width: 100%;
		background-color: @interactive;
		a {
			display: block;
		}
	}
}

#search-results {
	h2 {
		font-weight: 200;
		em {
			font-style: normal;
			font-weight: 400;
		}
		time {
			margin-left: 1em;
		}
	}
	article {
		cursor: default;
		width: 100%;
		border: 2px solid fadeout(@black, 50%);
		display: flex;
		justify-content: space-between;
		margin: 1em 0;
		font-size: 1.2rem;
		font-weight: 300;
		background-color: @white;
		transition: all 0.2s ease;
		&:hover {
			border-color: @interactive;
		}
		.route-outline {
			padding: 0.8em;
		}
		.result-header {
			flex-basis: 100%;
			display: flex;
			margin-bottom: 0.8em;
			cursor: default;
			span {
				display: inline-block;
				margin: 0 1em 0.5em 0;
				padding: 0 0.3em;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				font-size: 0.9rem;
			}
		}
		table {
			width: 100%;
		}
		tr:not(:last-of-type) td {
			border-bottom: 1px dotted fadeout(@black, 80%);
		}
		td {
			padding: 0.1em 1em 0.3em 0;
			i {
				opacity: 0.5;
				&:hover {
					cursor: pointer;
					opacity: 1;
				}
			}
		}
		.service-details {
			display: none;
		}
	}

	.detail-toggle {
		display: none;
	}
	.arrival, .departure {
		font-weight: 700;
	}
	.result-tag {
		border: 1px solid grey;
	}
	.rt-direct {
		color: @green;
		border-color: @green;
	}
	.result-distance {
		color: grey;
	}
	.service-badge {
		display: inline-block;
		border: 1px solid grey;
		padding-right: 0.5em;
		&:before {
			content: "";
			border-left: 16px solid grey;
			position: relative;
			padding-left: 1em;
		}
	}
	.sb-cd:before {
		border-color: rgb(0,160,240);
	}
	.sb-le:before {
		border-color: rgb(250,90,0);
	}
	#classes-fares {
		display: none;
	}
	.price {
		display: flex;
		align-content: center;
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 1em;
			font-size: 1rem;
			color: @black;
			background-color: @interactive;
			transition: all 0.2s ease;
			font-weight: 500;
			&:hover {
				color: @white;
				background-color: @header-bg;
			}
			&.price-selected {
				color: @black;
				background-color: transparent;
			}
			span.amount {
				padding: 0.2em 0.2em 0 0;
				display: block;
				font-size: 1.5rem;
			}
		}

	}
	article.detailed {
		position: relative;
		&:hover {
			border-color: gray;
		}
		.service-details {
			display: block;
			ul {
				.inline-list;
				display: flex;
				li {
					margin-right: 0.5em;
					font-size: 1.5em;
				}
			}
			p {
				margin: 0.2em 0;
			}
			a.link {
				text-decoration: underline;
				color: @header-bg;
			}
		}
		.price {
			display: none;
		}
		#pax-section {
			left: 100%;
		}
		#classes-fares {
			flex-basis: 40%;
			display: flex;
			background-color: @white;
			border: 1px solid gray;
			margin-top: -1em;
			flex-direction: column;
			aside {
				padding: 0.5em;
				p {
					margin: 0;
				}
			}
			#class-selection {
				display: flex;
			}
			input[type=radio] {
				display: none;
				& + label {
					display: block;
					padding: 0.5em;
					cursor: pointer;
					span.amount {
						display: block;
						font-size: 1.2em;
						font-weight: 400;
					}
				}
				&:checked + label {
					background-color: @interactive;
				}
			}
			.travel-class {
				margin: 0.2em;
				border: 1px solid @interactive;
				width: 10em;
				transition: border 0.3s ease;
				&:hover {
					border-width: 3px;
				}
			}
			ul {
				list-style-type: none;
				font-size: 0.8rem;
				font-weight: 400;
				padding-left: 0.2em;
				li {
					margin: 0 0.3em 0.3em 0;
				}
				span {
					font-weight: 600;
				}
			}
			#class-confirm {
				a {
					display: block;
					margin: 0.3em;
					padding: 0.2em;
					text-align: center;
					span {
						display: block;
						font-size: 0.8rem;
					}
				}
			}
			.price {
				display: block;
			}

		}
	}
	article.minimal {
		border: 1px solid grey;
		cursor: pointer;
		&:hover {
			border-color: @interactive;
		}
		background-color: inherit;
		table {
			display: flex;
			padding-bottom: 0.5em;
		}
		tr, tr td {
			display: inline-block;
			border-width: 0;
		}
		td:empty, td.service, tr.transfer, i, .service-details {
			display: none;
		}
		.route-outline {
			display: flex;
			padding: 0.2em 0.8em;
			flex-direction: column-reverse;
			.result-header, .result-header span {
				margin: 0;
				padding: 0;
			}
			.result-tag, .result-distance {
				display: none;
			}
		}
		.price a {
			background-color: transparent;
			padding: 0 0.5em;
			span.amount {
				padding: 0;
				font-size: 1rem;
			}
		}
		.price:hover a {
			color: inherit;
		}
	}
}

#fare-options {
	article {
		background-color: @white;
		border: 1px solid grey;
		margin: 0.1em 0;
		padding: 0 1em;
	}
	.reservation-options {
		display: flex;
		justify-content: space-between;
		.seat-option {
			cursor: pointer;
			display: inline-block;
			padding: 0.5em;
			border: 1px solid @interactive;
			&:hover {
				border-width: 3px;
			}
		}
		.seat-unavailable {
			cursor: not-allowed;
			border-color: grey;
		}
	}
}

.inline-list {
	ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		li {
			display: inline-block;
		}
	}
}

.button-style {
	display: inline-block;
	cursor: pointer;
}

.ux-path-ahead {
	background-color: @green;
	color: @white;
	font-weight: 400;
}
.ux-suggestion {
	border: 1px solid @green;
	font-weight: 400;
}