* {
  box-sizing: border-box;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 200;
  padding: 0;
  margin: 0;
  background-color: #f0f4f8;
}
a {
  text-decoration: none;
  color: inherit;
}
header nav {
  background-color: #ffffff;
}
header nav section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 960px;
  margin: auto;
}
header nav ul {
  margin: 1em 0 0 1em;
}
header nav ul ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
header nav ul ul li {
  display: inline-block;
}
header nav ul li {
  display: inline-block;
  cursor: pointer;
  padding-bottom: 0.5em;
  margin: 0 0.5em;
  font-weight: 400;
  color: #000c24;
  border-bottom: 3px solid transparent;
}
header nav ul li.nav-selected {
  border-color: #000c24;
}
header nav ul li:hover {
  border-color: #00bef0;
}
main {
  z-index: 1;
}
main > section {
  width: 960px;
  max-width: 100vw;
  margin: 0 auto;
}
#search {
  padding: 2em 0;
  background-image: linear-gradient(to bottom, rgba(0, 12, 36, 0.75), rgba(0, 12, 36, 0.92)), url('assets/header-bg-2.jpg');
  background-size: cover;
  background-position: 0 80%;
}
#search h1 {
  margin: 1em auto;
  text-align: center;
  font-size: 4em;
  font-weight: 100;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
#search h1 .logo-upper,
#search h1 .logo-lower {
  position: relative;
}
#search h1 .logo-upper {
  top: -0.35em;
}
#search h1 .logo-lower {
  top: 0.35em;
  left: -0.67em;
  margin-right: -0.7em;
}
#search #searchForm {
  padding: 1em 0 4em 0;
  text-align: center;
}
#search #searchForm div {
  width: 960px;
  max-width: 100vw;
  margin: 0 auto;
}
#search #searchForm input {
  font-size: 2em;
  margin: 0.2em;
}
#search #searchForm input[type=radio] {
  display: none;
}
#search #searchForm input[type=radio] + label {
  display: inline-block;
  cursor: pointer;
  font-size: 2em;
  margin: 0 0.3em;
  color: #ffffff;
  transition: color 0.2s ease;
}
#search #searchForm input[type=radio] + label i {
  font-size: 2rem;
}
#search #searchForm input[type=radio]:checked + label,
#search #searchForm input[type=radio] + label:hover {
  color: #00bef0;
  border-bottom: 2px solid #00bef0;
}
#search #searchForm input[type=number] {
  background-color: transparent;
  padding: 0 0.2em;
  max-width: 2em;
  border: 1px solid #ffffff;
  color: #ffffff;
}
#search #searchForm input[type=number]::placeholder {
  color: #ffffff;
}
#search #searchForm #searchTimes {
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#search #searchForm .search-submit {
  display: inline-block;
  color: #000c24;
  font-weight: 500;
  background-color: #00bef0;
  margin: 0 1em;
  padding: 0.5em 1em;
}
#search #searchForm #search-suggestions {
  margin-top: 4em;
}
#search #searchForm #search-suggestions ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search #searchForm #search-suggestions ul li {
  display: inline-block;
}
#search #searchForm #search-suggestions li {
  cursor: pointer;
  background-color: #ffffff;
  padding: 0.5em 1em;
  margin: 0.25em;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#search.compact {
  padding: 0.5em 0;
  font-size: 1rem;
}
#search.compact #searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
#search.compact #searchForm div {
  width: auto;
}
#search.compact #searchForm .search-submit {
  background-color: #ffffff;
  color: #000c24;
  transition: all 0.1s ease;
}
#search.compact #searchForm .search-submit:hover {
  background-color: #00bef0;
  color: #ffffff;
}
#search.compact input {
  font-size: 1rem;
}
#search.compact #search-suggestions {
  display: none;
}
#search-options {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2em;
  justify-content: space-between;
  background-color: #c8ced4;
}
#search-filters {
  display: inline-block;
  padding: 0.5em 0;
}
#search-filters input[type=checkbox] {
  display: none;
}
#search-filters input[type=checkbox] + label {
  display: inline-block;
  cursor: pointer;
  padding: 0.3em;
  margin-left: 0.5em;
  color: #000c24;
  border: 1px solid #000c24;
  transition: all 0.3s ease;
}
#search-filters input[type=checkbox] + label:hover {
  background-color: #00bef0;
}
#search-filters input[type=checkbox] + label i {
  font-size: 2em;
}
#search-filters input[type=checkbox]:checked + label {
  background-color: #00bef0;
}
#pax-section {
  display: flex;
  position: absolute;
  right: 0;
}
.pax {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border: 1px solid grey;
  position: relative;
  padding: 0.2em 0.5em 0 0.5em;
  background-color: #ffffff;
}
.pax,
.pax input {
  font-size: 1.5rem;
  font-weight: 500;
}
.pax i {
  display: block;
  text-align: center;
}
.pax p {
  text-align: center;
  margin: 0 0 0.5em 0;
  font-size: 0.8rem;
}
.pax p i {
  display: inline-block;
  margin-right: 1em;
}
.pax a {
  font-family: sans-serif;
}
.pax .pax-number {
  background-color: transparent;
  border: none;
  text-align: center;
  max-width: 1em;
}
.pax .pax-add {
  margin-bottom: 0;
  align-self: flex-start;
  width: 100%;
  background-color: #00bef0;
}
.pax .pax-add a {
  display: block;
}
#search-results h2 {
  font-weight: 200;
}
#search-results h2 em {
  font-style: normal;
  font-weight: 400;
}
#search-results h2 time {
  margin-left: 1em;
}
#search-results article {
  cursor: default;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  margin: 1em 0;
  font-size: 1.2rem;
  font-weight: 300;
  background-color: #ffffff;
  transition: all 0.2s ease;
}
#search-results article:hover {
  border-color: #00bef0;
}
#search-results article .route-outline {
  padding: 0.8em;
}
#search-results article .result-header {
  flex-basis: 100%;
  display: flex;
  margin-bottom: 0.8em;
  cursor: default;
}
#search-results article .result-header span {
  display: inline-block;
  margin: 0 1em 0.5em 0;
  padding: 0 0.3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
}
#search-results article table {
  width: 100%;
}
#search-results article tr:not(:last-of-type) td {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
}
#search-results article td {
  padding: 0.1em 1em 0.3em 0;
}
#search-results article td i {
  opacity: 0.5;
}
#search-results article td i:hover {
  cursor: pointer;
  opacity: 1;
}
#search-results article .service-details {
  display: none;
}
#search-results .detail-toggle {
  display: none;
}
#search-results .arrival,
#search-results .departure {
  font-weight: 700;
}
#search-results .result-tag {
  border: 1px solid grey;
}
#search-results .rt-direct {
  color: #209620;
  border-color: #209620;
}
#search-results .result-distance {
  color: grey;
}
#search-results .service-badge {
  display: inline-block;
  border: 1px solid grey;
  padding-right: 0.5em;
}
#search-results .service-badge:before {
  content: "";
  border-left: 16px solid grey;
  position: relative;
  padding-left: 1em;
}
#search-results #classes-fares {
  display: none;
}
#search-results .price {
  display: flex;
  align-content: center;
}
#search-results .price a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  font-size: 1rem;
  color: #000000;
  background-color: #00bef0;
  transition: all 0.2s ease;
  font-weight: 500;
}
#search-results .price a:hover {
  color: #ffffff;
  background-color: #000c24;
}
#search-results .price a.price-selected {
  color: #000000;
  background-color: transparent;
}
#search-results .price a span.amount {
  padding: 0.2em 0.2em 0 0;
  display: block;
  font-size: 1.5rem;
}
#search-results article.detailed {
  position: relative;
}
#search-results article.detailed:hover {
  border-color: gray;
}
#search-results article.detailed .service-details {
  display: block;
}
#search-results article.detailed .service-details ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#search-results article.detailed .service-details ul li {
  display: inline-block;
}
#search-results article.detailed .service-details ul {
  display: flex;
}
#search-results article.detailed .service-details ul li {
  margin-right: 0.5em;
  font-size: 1.5em;
}
#search-results article.detailed .service-details p {
  margin: 0.2em 0;
}
#search-results article.detailed .service-details a.link {
  text-decoration: underline;
  color: #000c24;
}
#search-results article.detailed .service-badge {
  border-left: 3px solid grey;
  padding-left: 0.2em;
}
#search-results article.detailed .service-badge:before {
  display: none;
}
#search-results article.detailed .price {
  display: none;
}
#search-results article.detailed #pax-section {
  left: 100%;
}
#search-results article.detailed #classes-fares {
  flex-basis: 40%;
  display: flex;
  background-color: #ffffff;
  border: 1px solid gray;
  margin-top: -1em;
  flex-direction: column;
}
#search-results article.detailed #classes-fares aside {
  padding: 0.5em;
}
#search-results article.detailed #classes-fares aside p {
  margin: 0;
}
#search-results article.detailed #classes-fares #class-selection {
  display: flex;
}
#search-results article.detailed #classes-fares input[type=radio] {
  display: none;
}
#search-results article.detailed #classes-fares input[type=radio] + label {
  display: block;
  padding: 0.5em;
  cursor: pointer;
}
#search-results article.detailed #classes-fares input[type=radio] + label span.amount {
  display: block;
  font-size: 1.2em;
  font-weight: 400;
}
#search-results article.detailed #classes-fares input[type=radio]:checked + label {
  background-color: #00bef0;
}
#search-results article.detailed #classes-fares .travel-class {
  text-align: center;
  margin: 0.2em;
  border: 1px solid #00bef0;
  width: 10em;
  transition: border 0.3s ease;
}
#search-results article.detailed #classes-fares .travel-class:hover {
  border-width: 3px;
}
#search-results article.detailed #classes-fares ul {
  list-style-type: none;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 0.2em;
}
#search-results article.detailed #classes-fares ul li {
  margin: 0 0.3em 0.3em 0;
}
#search-results article.detailed #classes-fares ul span {
  font-weight: 600;
}
#search-results article.detailed #classes-fares #class-confirm a {
  display: block;
  margin: 0.3em;
  padding: 0.2em;
  text-align: center;
}
#search-results article.detailed #classes-fares #class-confirm a span {
  display: block;
  font-size: 0.8rem;
}
#search-results article.detailed #classes-fares .price {
  display: block;
}
#search-results article.minimal {
  border: 1px solid grey;
  cursor: pointer;
  background-color: inherit;
}
#search-results article.minimal:hover {
  border-color: #00bef0;
}
#search-results article.minimal table {
  display: flex;
  padding-bottom: 0.5em;
}
#search-results article.minimal tr,
#search-results article.minimal tr td {
  display: inline-block;
  border-width: 0;
}
#search-results article.minimal td:empty,
#search-results article.minimal td.service,
#search-results article.minimal tr.transfer,
#search-results article.minimal i,
#search-results article.minimal .service-details {
  display: none;
}
#search-results article.minimal .route-outline {
  display: flex;
  padding: 0.2em 0.8em;
  flex-direction: column-reverse;
}
#search-results article.minimal .route-outline .result-header,
#search-results article.minimal .route-outline .result-header span {
  margin: 0;
  padding: 0;
}
#search-results article.minimal .route-outline .result-tag,
#search-results article.minimal .route-outline .result-distance {
  display: none;
}
#search-results article.minimal .price a {
  background-color: transparent;
  padding: 0 0.5em;
}
#search-results article.minimal .price a span.amount {
  padding: 0;
  font-size: 1rem;
}
#search-results article.minimal .price:hover a {
  color: inherit;
}
#fare-options article {
  background-color: #ffffff;
  border: 1px solid grey;
  margin: 0.1em 0;
  padding: 0 1em;
}
#fare-options .reservation-options {
  display: flex;
  justify-content: space-between;
}
#fare-options .reservation-options .seat-option {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em;
  border: 1px solid #00bef0;
}
#fare-options .reservation-options .seat-option:hover {
  border-width: 3px;
}
#fare-options .reservation-options .seat-unavailable {
  cursor: not-allowed;
  border-color: grey;
}
.inline-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.inline-list ul li {
  display: inline-block;
}
.button-style {
  display: inline-block;
  cursor: pointer;
}
.ux-path-ahead {
  background-color: #209620;
  color: #ffffff;
  font-weight: 400;
}
.ux-suggestion {
  border: 1px solid #209620;
  color: #209620;
  font-weight: 400;
}
body.calculator {
  font-size: 1.5em;
  font-weight: normal;
  max-width: 100vw;
  width: 960px;
  margin: 2em auto;
}
body.calculator form {
  display: flex;
}
body.calculator form input,
body.calculator form label {
  margin-right: 0.5em;
}
body.calculator input {
  font-size: 1.5em;
  max-width: 5em;
}
body.calculator select {
  font-size: 1em;
}
body.calculator input[type=radio] {
  display: none;
}
body.calculator input[type=radio] + label {
  padding: 0.5em;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #00bef0;
}
body.calculator input[type=radio]:checked + label {
  color: #ffffff;
  background-color: #00bef0;
}
body.calculator button {
  cursor: pointer;
  background-color: #abac18;
  padding: 0.5em;
  border: none;
  font-size: 1em;
  color: #ffffff;
}
body.calculator #table-generate-form {
  display: flex;
}
body.calculator #table-generate-form p,
body.calculator #table-generate-form input,
body.calculator #table-generate-form select {
  margin: 0 1em 0 0;
}
body.calculator #calc-results {
  display: flex;
  margin-top: 1em;
  font-size: 1rem;
}
body.calculator #calc-results p {
  margin-right: 0.3em;
}
body.calculator #calc-results output {
  font-size: 1.5em;
  display: block;
  padding: 0.5em 1em;
  border: 1px solid #4d4d21;
}
body.calculator table {
  margin: 1em 0;
  width: 100%;
}
body.calculator table th {
  border-bottom: 1px solid #4d4d21;
}
body.calculator table td:not(:first-child) {
  width: 18%;
  text-align: center;
}
body.calculator table td:first-child {
  border-right: 1px solid #abac18;
  text-align: center;
}
body.calculator table tr:nth-child(even) {
  background-color: #ffffff;
}
/*# sourceMappingURL=./eshop.css.map */